/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.htaccess
server.php

# Abaikan semua folder assets
/public/assets/img/
/public/assets/LiveLine/
/public/htaccess

# Khusus izinkan folder boots
/public/assets/boots/
!public/assets/boots
!public/assets/boots/**
